{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%} {{ super() }} {% endblock %}

<!-- Content block -->
{% block content %}
<title> {{ title }} </title>
<div class="container" background="{{ url_for( 'static', filename='gradient2.jpg' ) }}" style="background-size: cover; background-repeat: no-repeat;">

    <div class="row">

        <div class="col-md-2 col-lg-2">

            <a href="/group/{{pitch.group.id}}">

                <i class="glyphicon glyphicon-menu-left back-icon"></i>

            </a>

        </div>

        <div class=" col-xs-10 col-sm-10 col-md-8 col-lg-8">

            <h2>

                <a href="/group/{{pitch.group.id}}" class="pitch-content" style="color:rgb(44, 44, 44) ;">
                        
                        {{ pitch.pitch_content }} 

                    </a>

            </h2>

        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

            <div class="row">

                <a href="/pitch/upvote/{{ pitch.id }}">

                    <i class="glyphicon glyphicon-chevron-up">
                        </i>

                </a>

            </div>

            <div class="row">

                <i class="votes">
                        {{ total_votes }}   
                    </i>

            </div>

            <div class="row">

                <a href="/pitch/downvote/{{ pitch.id }}">

                    <i class="glyphicon glyphicon-chevron-down"></i>

                </a>

            </div>

        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-md-4 col-lg-4">

            <h2 class="comment-header">
                List of Comments
            </h2>

        </div>

        <div class="col-md-4 col-lg-4">

        </div>

        <div class="col-md-4 col-lg-4">




            <a href="/pitch/new/{{pitch.id}}" style="color: white;">
                <button class="btn" style="padding: 15px 70px 15px 70px;background-color: rgb(170, 97, 170);  font-size: 20px; ">
               
                    Add Comment
           
                </button>

        </div>
    </div>

    <hr>


    <ul class="list-unstyled">
        {{ macro.displayCommentList(comments) }}
    </ul>


</div>
{% endblock %}