{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%} {{ super() }} {% endblock %}

<!-- Content block -->
{% block content %}
<title> {{ title }} </title>
<div class="container" background="{{ url_for( 'static', filename='gradient2.jpg' ) }}" style="background-size: cover; background-repeat: no-repeat;">

    <div class="row">

        <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <h2>


                {{ pitch.pitch_content }}


            </h2>

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-">
                    <h4>Upvotes: </h4>

                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-">
                    {% if total_votes > 0 %}
                    <h4 class=" col-xs-6" style="color:green;">
                        {{ total_votes }}
                    </h4> {% else %}
                    <h4 class="col-xs-6" style="color: red;">
                        {{ total_votes }}
                    </h4> {% endif %}

                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <a href="/pitch/upvote/{{ pitch.id }} ">

                        <img src="{{ url_for( 'static', filename='happy.png' ) }}" style="height: 50px; ;">
                        </img>

                    </a>

                </div>


                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <a href="/pitch/downvote/{{ pitch.id }}">

                        <img src="{{ url_for( 'static', filename='sad.png' ) }} " style="height: 45px; padding-left: 10px"></img>

                    </a>

                </div>

            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4 col-lg-4">

            <h2 class="comment-header">
                List of Comments
            </h2>

        </div>

        <div class="col-md-4 col-lg-4">

        </div>

        <div class="col-md-4 col-lg-4">




            <a href="/pitch/new/{{pitch.id}}" style="color: white;">
                <button class="btn" style="padding: 15px 70px 15px 70px;background-color: rgb(170, 97, 170);  font-size: 20px; ">
               
                    Add Comment
           
                </button>

        </div>
    </div>

    <hr>


    <ul class="list-unstyled">
        {{ macro.displayCommentList(comments) }}
    </ul>


</div>
{% endblock %}