{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%} {{ super() }} {% endblock %}

<!-- Content block -->
{% block content %}

<title> {{ title }} </title>

<div class="container" background="{{ url_for( 'static', filename='gradient2.jpg' ) }}" style="background-size: cover; background-repeat: no-repeat;">

    <h2>Choose a category</h2>

    <ul class="list-unstyled">
        {{ macro.displayGroupList(groups) }}
    </ul>


</div>

{% endblock %}