{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%} {{ super() }} {% endblock %}

<!-- Content block -->
{% block content %}

<body>
    <title> {{ title }} </title>

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-lg-4">
                <h2 class="category-header">
                    Welcome to Pitch Central
                </h2>
                <p> Make your 60 seconds Count</p>
            </div>


            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <h2 class="category-create">
                        <a href="/group/new">
                        Create Pitch
                    </a>
                    </h2>

                </div>
                <div class="col-md-4 col-lg-4">
                    <h2 class="category-create">
                        <a href="/groups">
                        Read Pitch
                    </a>
                    </h2>

                </div>
            </div>
        </div>



    </div>
</body>
{% endblock %}