<!-- Display groups -->
{% macro displayGroupList(group_list) %} {% for group in group_list %}

<a href="/group/{{group.id}}">
    <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well category-well" style=" box-shadow: 0px 0px 20px 2px #cb8cff; border-radius: 20px; background-color: rgba(255, 255, 255, 0.089);">

        <li class="text-center">
            <h3 class="category-name" style="color: rgb(65, 65, 65);">


                {{ group.name }}


            </h3>
        </li>

    </div>
</a>



{% endfor %} {% endmacro %}

<!-- Display pitches -->
{% macro displayPitchList(pitch_list) %} {% for pitch in pitch_list %}
<a href="{{url_for('main.single_pitch', id = pitch.id )}}" class="pitch-content">

    <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well pitch-well" style=" box-shadow: 0px 0px 20px 2px #cb8cff; border-radius: 20px; background-color: rgba(255, 255, 255, 0.089);">

        <li class="text-center">

            <h3 style="color: rgb(65, 65, 65);">

                {{ pitch.pitch_content }}

            </h3>

        </li>

    </div>

</a>

{% endfor %} {% endmacro %}


<!-- Display pitches -->
{% macro displayCommentList(comment_list) %} {% for comment in comment_list %}

<div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well comment-well" style=" box-shadow: 0px 0px 20px 2px #cb8cff; border-radius: 20px; background-color: rgba(255, 255, 255, 0.089);">

    <li>

        <h4 class="comment-content" style="color: rgb(65, 65, 65);">{{ comment.comment_content}}</h4>

    </li>

</div>


{% endfor %} {% endmacro %}