{% extends 'base.html' %} {% import 'macros.html' as macro %} {% import 'bootstrap/wtf.html' as wtf%}


<!-- Styles block -->
{% block styles%} {{ super() }} {% endblock %}

<!-- Content block -->
{% block content %}
<title> {{ title }} </title>

<div class="container" background="{{ url_for( 'static', filename='gradient2.jpg' ) }}" style="background-size: cover; background-repeat: no-repeat;">

    <div class="row">

        <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 create-comment" style=" box-shadow: 0px 0px 20px 2px #cb8cff; border-radius: 20px; background-color: rgba(255, 255, 255, 0.089);">

            {{ wtf.quick_form(comment_form) }}

        </div>


    </div>
</div>
{% endblock %}