{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%} {{ super() }} {% endblock %}

<!-- Content block -->
{% block content %}

<title> {{ title }} </title>

<div class="container" background="{{ url_for( 'static', filename='gradient2.jpg' ) }}" style="background-size: cover; background-repeat: no-repeat;">

    <div class="row">

        <div class="col-md-4 col-lg4">

            <h2 class="group-header">
                List of {{group.name}}
            </h2>

        </div>

        <div class="col-md-4 col-lg4">

        </div>

        <div class="col-md-4 col-lg4">


            <a href="/group/pitch/new/{{group.id}}" style="color: black;">
                <button class="btn " style="padding: 15px 70px 15px 70px; background-color: transparent; border-style: solid; border-color: purple;font-size: 20px;">
                    
                        Write A Pitch
                
                </button></a>
            </a>

        </div>

    </div>

    <hr>

    <ul class="list-unstyled">
        {{ macro.displayPitchList(pitches) }}
    </ul>

</div>

{% endblock %}